 <div class="container mt-3">
    <h2>Productos</h2>
    {{#if countProductos}}
    <div>
        <table class="table table-dark table-striped">
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Foto</th>
            </tr>
            {{#each productos}}
            <tr>
                <td>{{this.title}}</td>
                <td>${{this.price}}</td>
                <td><img width="80" src={{this.thumbnail}} alt="not found"></td>
            </tr>
            {{/each}}
        </table>
    </div>
    {{else}}
    <h3 >La lista de los productos esta vacia</h3>
    {{/if}}
    <br>
    <a href="/" type="button" class="btn btn-dark"><i class="fas fa-plus"></i> Producto</a>
    
